%html
  %head
    %title= "CI Dashboard"
    :javascript
      window.setTimeout('window.location.reload(true)', 20000)
    %style
      :plain
        body { font-size:3em; font-family:arial; 
          background: -webkit-gradient(linear, left top, left bottom, from(#111), to(#111));
        }
        ul { margin:20px; }
        h2 { font-size: 0.8em; color: white; font-weight: normal; }
        li { 
          list-style:none; 
          margin: 10px; 
          padding: 0.25em; 
          -webkit-border-radius: 15px; -webkit-box-shadow: 2px 2px 10px #000;
          text-shadow: 2px 2px 15px #333;
          width: 400px;
        }
        li.building { background: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#666), color-stop(0.5, #444)); }
        li.pass { background: -webkit-gradient(linear, left top, left bottom, from(#4a4), to(#060), color-stop(0.5, #040)); }
        li.fail { background: -webkit-gradient(linear, left top, left bottom, from(#a44), to(#600), color-stop(0.5, #400)); }
        a, a:visited { text-decoration: none; color: #fff; }
    %body
      %ul
      - @projects.each do |name, status|
        %li{:class => status}
          %a{:href => "/#{name}"}= "#{name}"
