=shiny_box
  padding: 0.25em
  display: table-cell
  -webkit-border-radius: 15px
  -webkit-box-shadow: 2px 2px 10px #000
  text-shadow: 2px 2px 15px #333
  margin-right: 15px
=black_gradient
  background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#111), color-stop(0.5, #000))
=grey_gradient
  background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#444), color-stop(0.5, #222))
=green_gradient
  background: -webkit-gradient(linear, left top, left bottom, from(#4a4), to(#060), color-stop(0.5, #040))
=red_gradient
  background: -webkit-gradient(linear, left top, left bottom, from(#a44), to(#600), color-stop(0.5, #400))

body
  font-size: 3em
  font-family: arial
  background: #111
  color: #fff
  a
    color: #fff
.server-closed
  +shiny_box
  +red_gradient
  font-size: 0.5em
  display: none

.projects
  margin: 15px

.project 
  padding-bottom: 10px
  clear: both
  position: relative
  overflow: auto
  .pairs
    .pair
      width: 100px
      float: left
      +shiny_box
      +black_gradient
  a
    position: relative
    width: 450px
    float: left
    +shiny_box
    text-decoration: none
  a.building
    +grey_gradient
  a.pass
    +green_gradient
  a.fail
    +red_gradient
div 
  img
    -webkit-border-radius: 5px
    
.last_author 
  padding: 5px
  margin: 0px
  -webkit-border-radius: 5px
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4)
  +black_gradient
  float: right
  width: 50px

