!iphoneheight = "460px"

body
  -webkit-tap-highlight-color: transparent
  -webkit-text-size-adjust: none
  color: #b5f278
  font: 16px/20px Helvetica, sans-serif
  height = !iphoneheight
  margin: 0
  max-height: 460px
  padding: 0
  width: 100%
  
ul.rounded
  img
    margin-right: 8px

#arrow
  background: -webkit-canvas(arrow) no-repeat top center
  bottom: 120px
  height: 30px
  left: 0
  position: absolute
  width: 100%

#container
  display: none

#installation
  display: none
  background: #69962f
  color: #b5f278
  height = !iphoneheight
  left: 0
  max-height: 460px
  min-height: 460px
  position: absolute
  text-shadow: rgba(0,0,0,.7) 0px -1px 0px
  top: 0
  width: 100%